<ion-list>
    <ion-item color="light">
      <ion-icon name="contact" color="dark" item-left></ion-icon>
      Thông tin người đặt
    </ion-item>
    <ion-item>
      <ion-label floating>Người đăng ký</ion-label>
      <ion-input type="text" [(ngModel)]="customInfo.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="customInfo.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Số điện thoại</ion-label>
      <ion-input type="tel" [(ngModel)]="customInfo.phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Thuộc đơn vị</ion-label>
      <ion-input type="text" [(ngModel)]="customInfo.organization"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Số người trong gia đình</ion-label>
      <ion-input type="number" [(ngModel)]="customInfo.members" min="1"></ion-input>
    </ion-item>
</ion-list>
