<ion-list>
  <ion-item-divider color="light">
    <ion-icon name="contact" item-left></ion-icon>
    Thông tin người đặt
  </ion-item-divider>
  <ion-item>
    <ion-label floating>Người đăng ký</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Số điện thoại</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Thuộc đơn vị</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Số người trong gia đình</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
</ion-list>
