<!-- Generated template for the RegistryToolbarComponent component -->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Đăng ký dịch vụ</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <div>
    <ion-segment [(ngModel)]="choice" small>
      <ion-segment-button value="customInfo">
        Khách hàng
      </ion-segment-button>
      <ion-segment-button value="serviceInfo">
        Dịch vụ
      </ion-segment-button>
      <ion-segment-button value="verification">
        Xác nhận
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="choice">
    <ion-list *ngSwitchCase="choices[0]">
      <customer-info></customer-info>
      <delivery-info></delivery-info>
      <ion-item text-center>
        <button ion-button color="accent" round padding (click)="clickNext(0)">Tiếp theo</button>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="choices[1]">
      <service-info></service-info>
      <ion-item text-center>
        <button ion-button color="accent" round padding (click)="clickNext(1)">Tiếp theo</button>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="choices[2]">
      <service-verification></service-verification>
      <ion-item text-center>
        <button ion-button color="accent" round padding (click)="saveOrder('item')">Xác nhận</button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
