<!-- Generated template for the ServiceVerificationComponent component -->
<ion-list>
  <ion-item>
    <span>Người nhận: </span>
    <b>Phạm Thị Lương</b>
  </ion-item>
   <ion-item>
    <span>Số điện thoại: </span>
    <b>0123456789</b>
  </ion-item>
  <ion-item>
    <span>Địa chỉ: </span>
    <b text-wrap>Tầng 44 - Keangnam - Mỗ Trí Nam - Từ Liêm</b>
  </ion-item>
  <ion-item>
    <span>Gói dịch vụ: </span>
    <b>Nâng cao</b>
  </ion-item>
  <ion-item>
    <span>Giao hàng vào: </span>
    <b text-wrap>Thứ 2 và thứ 6 hàng tuần</b>
  </ion-item>
  <ion-item>
    <span>Thanh toán trước: </span>
    <b>3 tháng lần</b>
  </ion-item>
  <ion-item>
    <span>Bắt đầu giao hàng: </span>
    <b>01/05/2017</b>
  </ion-item>
  <ion-item>
    <span>Kết thúc giao hàng: </span>
    <b>01/05/2017</b>
  </ion-item>
  <ion-item>
    <span>Khối lượng giao mỗi lần: </span>
    <b>3.0 kg</b>
  </ion-item>
</ion-list>
