<!-- Generated template for the DeliveryInfoComponent component -->
<ion-list>
  <ion-item-divider color="light">
    <ion-icon name="navigate" item-left></ion-icon>
    Địa chỉ giao hàng
  </ion-item-divider>
  <ion-item>
    <ion-label floating>Quận</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Phường/Xã</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Tên đường</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Số nhà</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
</ion-list>
