<ion-list>
  <button ion-item *ngFor="let order of orders" (click)="clickItem(order)">
    <ion-label>
      <p>
        <span>Mã giao hàng: </span>
        <b>{{order.code}}</b>
      </p>
      <p>
        <span>Ngày giao hàng: </span>
         <b>{{order.createdDate | date : 'dd/MM/yyyy'}}</b>
      </p>
      <p>
        <span>Tổng loại rau: </span>
        <b>{{order.totalProducts}}</b>
      </p>
    </ion-label>
    <ion-icon item-right class="m-large-icon" color="{{order.status == 1 ? 'primary' : 'warning'}}" name="checkmark-circle"></ion-icon>
  </button>
</ion-list>
