<!-- Generated template for the RegistryToolbarComponent component -->
<div padding>
  <ion-segment [(ngModel)]="choice">
    <ion-segment-button value="customInfo">
      Khách hàng
    </ion-segment-button>
    <ion-segment-button value="serviceInfo">
      Dịch vụ
    </ion-segment-button>
    <ion-segment-button value="verification">
      Xác nhận
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="choice">
  <ion-list *ngSwitchCase="'customInfo'">
    <customer-info></customer-info>
    <delivery-info></delivery-info>
  </ion-list>

  <ion-list *ngSwitchCase="'serviceInfo'">
    <service-info></service-info>
  </ion-list>
</div>
