<!-- Generated template for the ProductListComponent component -->
<ion-list>
  <ion-item>
    <ion-thumbnail item-left>
      <img src="assets/img/default-product.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2>Rau mồng tơi</h2>
      <p>
        <button ion-button color="accent" clear round icon-only>
            <ion-icon name="remove-circle" ></ion-icon>
         </button>
        <span>10 kg</span>
        <button ion-button icon-only clear round>
        <ion-icon name="add-circle"></ion-icon>
        </button>
      </p>
    </ion-label>
    <ion-toggle class="m-toggle" color="dark" checked="true" item-right></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-thumbnail item-left>
      <img src="assets/img/default-product.jpg">
    </ion-thumbnail>
    <ion-label>
      <span>Rau mồng tơi</span>
      <p>
        <button ion-button color="accent" clear round icon-only>
          <ion-icon name="remove-circle" ></ion-icon>
        </button>
        <span>10 kg</span>
        <button ion-button icon-only clear round>
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </p>
    </ion-label>
    <ion-toggle class="m-toggle" color="dark" item-right></ion-toggle>
  </ion-item>
</ion-list>
