<!-- Generated template for the ProductListComponent component -->
<ion-list>
  <ion-item *ngFor="let product of products">
    <ion-thumbnail item-left>
      <img [src]="product.imageUrl">
    </ion-thumbnail>
    <ion-label>
      <h2>{{product.name}}</h2>
      <p>
        <button ion-button color="accent" clear round icon-only (click)="decreaseKilogram(product)">
            <ion-icon name="remove-circle" ></ion-icon>
         </button>
        <span>{{product.kilogram | number : '1.1-2'}} kg</span>
        <button ion-button icon-only clear round icon-only (click)="increaseKilogram(product)">
        <ion-icon name="add-circle"></ion-icon>
        </button>
      </p>
    </ion-label>
    <ion-toggle class="m-toggle" color="dark" [(ngModel)]="product.chosen" item-right (click)="chooseProduct(product)"></ion-toggle>
  </ion-item>
  <ion-item text-right>
    <span>Tổng: </span>
    <b>{{totalKilogram | number : '1.1-2'}}/{{getMaxKilogram() | number : '1.1-2'}} kg</b>
  </ion-item>
  <ion-item text-center>
    <button ion-button color="accent" round padding (click)="saveProducts()" [disabled]="!isSaved">Hoàn tất</button>
  </ion-item>
</ion-list>
